<?xml version="1.0"?><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"><system>        <section id="magedia_pdfinvoice" translate="label" showInDefault="1" showInStore="1" showInWebsite="1">
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <field id="core_button" translate="label comment tooltip" type="button" sortOrder="0" showInDefault="0" showInWebsite="0" showInStore="0">
                    <frontend_model>Magedia\Core\Block\Adminhtml\System\Config\Button</frontend_model>
                </field>
            </group>
        </section></system></config>
