<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magedia_demo>
            <general>
                <automatic_reset>0</automatic_reset>
                <marketplace_url>https://store.magedia.com/</marketplace_url>
            </general>
        </magedia_demo>
    </default>
</config>
