<?xml version="1.0"?>
<!--
/**
 * @author    Magedia Team
 * @copyright Copyright (c) 2021 Magedia (https://www.magedia.com)
 * @package   Magedia_Core
 * @version   1.0.0
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magedia_Demo" setup_version="1.0.0">
        <sequence>
            <module name="Magedia_Core"/>
            <module name="Magedia_PdfInvoice"/>
            <module name="Magedia_BannerManager"/>
            <module name="Magento_Inventory"/>
            <module name="Magento_InventoryCatalog"/>
        </sequence>
    </module>
</config>

