<?xml version="1.0"?><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"><type name="Magedia\Demo\Model\Reset\Runner"><arguments><argument name="handlers" xsi:type="array"><item name="pdf_invoice" xsi:type="object">Magedia\PdfInvoiceDemo\Model\Reset</item></argument></arguments></type></config>
